<!DOCTYPE html>
<html>
  <head>
    <title>DocTrack</title>
    <%= favicon_link_tag 'logodoctrack.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div id="devise-wrapper">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
